*{
    margin: 0;
    padding: 0;
    box-sizing: -box;
    border: none;
    outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    height: 100vh;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 75%;
    max-width: 50rem;
    min-width: 15rem;
    flex: 1;
    background-color: rgb(8, 25, 255);
    border-radius: 1.5rem;
    overflow: hidden;
 
}
.container h1{
    background-color: white;
    padding-left: 2rem;
    padding: 2rem;
}
.buttoncontainer{
    
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
   

    
}   
.buttoncontainer >button{
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    border-radius:1rem;
}
